#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  height:80px;
  display: flex;
  justify-content: center;
  z-index:1;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100px;
  height: 100px;
  display: flex;    
  justify-content: center;
  align-content: center;

}

.logoIMG {
  width: auto;
  height: 80px;
}

.tableContainer {
  width: 100%;
  overflow-y: auto;
  overflow: scroll;
  height: 700px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/*box (div) per allineare descrizione e dropdown*/
.descriptionDropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 3rem;
}

.descriptionDropDown h2 {
  text-align: left;
  font-weight: 200;
  color: #8F95BD;
}

.dropDownContainer {
  position: relative;
  justify-content: right;
  margin-left: auto;
  display: flex;
  max-width: 300px;
  max-height: 80px;
  padding: 10px 0;
}

.dropDownContainer select {
  width: 100%;
  height: auto;
  background-color: #DFE3FF;
  color: #8F95BD;
  border: 0px;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.dropDownContainer select:hover {
  background-color: #c3cafd;
  color: #717ecc;
  border: 0px;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 40px 100px;
  width: 100%;
}

.hMonth {
  text-align: left;
  font-size: 40pt;
  text-transform: uppercase;
  font-weight: bold;
  color: #181F5A;
}

/*override della tabella standard di bootstrap (table-striped) con mio design. vedi figma per ref*/
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #E8EAFF;
  background-color: #E8EAFF;
}

.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-bg-type: #ffffff;
  background-color: #ffffff;
}

.table-striped > thead {
  background-color: #6B7ADB;
}

.table-striped > thead > tr > th {
  background-color: #6B7ADB;
  color: #ffffff;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  vertical-align: middle;
}

.table-striped thead th:first-child {
  border-top-left-radius: 8px;
}

.table-striped thead th:last-child {
  border-top-right-radius: 8px;
}

.table-striped > tbody > tr > td {
  padding: 1rem 1.5rem;
  border: none;
  color: #333333;
  vertical-align: middle;
}

.table-striped {
  border-collapse: separate;
  border-spacing: 0;
  --bs-table-border-color: transparent;
  overflow: hidden;
  border-radius: 8px;
}

